<h1>会員情報</h1>

<%= form_with model:@customer, url: customers_my_page_path, local:true do |f| %>
<p>氏名:<%= f.text_field :last_name %><%= f.text_field :first_name %></p>
<p>フリガナ:<%= f.text_field :last_name_kana %><%= f.text_field :first_name_kana %></p>
<p>郵便番号:<%= f.text_field :postal_code %></p>
<p>住所:<%= f.text_field :address %></p>
<p>電話番号:<%= f.text_field :telephone_number %></p>
<p>メールアドレス:<%= f.text_field :email %></p>
<%= f.submit "編集内容を保存" %>
<%= link_to "退会する", customers_unsubscribe_path %>
<% end %>