<div class="container-fluid">
  <div class="row">
    <div class="col-md-1"></div>
    <div class="col-md-8 my-5">
     <h3>マイページ</h3>
    </div>
  </div>
  <div class="row">
    <div class="col-md-7 ml-5">
    <h5>登録情報<%= link_to "編集する", customers_edit_path, class: "btn btn-success" %></h5>


<table class="table table-bordered">
  <tbody>

    <tr>
      <td width="25%">氏名</td>
      <td width="75%"><%= @customer.last_name %><%= @customer.first_name %></td>
    </tr>

    <tr>
      <td>カナ</td>
      <td><%= @customer.last_name_kana %><%= @customer.last_name_kana %></td>
    </tr>

    <tr>
      <td>郵便番号</td>
      <td><%= @customer.postal_code %></td>
    </tr>

    <tr>
      <td>住所</td>
      <td><%= @customer.address %></td>
    </tr>

    <tr>
      <td>電話番号</td>
      <td><%= @customer.telephone_number %></td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td><%= @customer.email %></td>
    </tr>

  </tbody>
</table>
  <P>配送先<%= link_to "一覧を見る", addresses_path, class: "btn btn-primary btn-sm" %></p>
  <p>注文履歴<%= link_to "一覧を見る", orders_path, class: "btn btn-primary btn-sm" %></p>
     </div>
    </div>
</div>
