<h2>新規会員登録</h2>

<%= form_with model:@customer, url:customer_session_path, local: true do |f| %>
  <%= render "customers/shared/error_messages", resource: resource %>

   <div class="field">
    名前 <%= f.label :（性）%>
    <%= f.text_field :last_name, autofocus: true %>
    <%= f.label :（名）%>
    <%= f.text_field :first_name, autofocus: true %>
   </div>

   <div class="field">
    フリガナ <%= f.label :（セイ） %>
    <%= f.text_field :last_name_kana, autofocus: true %>
    <%= f.label :（メイ）%>
    <%= f.text_field :first_name_kana, autofocus: true %>
   </div>

  <div class="field">
    <%= f.label :メールアドレス %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :郵便番号（ハイフンなし） %>
    <%= f.text_field :postal_code, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :住所 %>
    <%= f.text_field :address, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :電話番号（ハイフンなし） %>
    <%= f.text_field :name, autofocus: true %>
  </div>

  <div class="field">
    <%= f.label :パスワード %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 文字以上)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :パスワード（確認用） %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "customers/shared/links" %>
