<div class= 'container'>
 <div class= 'row'>
  <div class='col-md-8'>
   <h4>配送先編集</h4>
    <div class="form-group">
     <%= form_with model:@address,url:address_path, local:true do |f| %>
     <table>

     <tr>
      <td>郵便番号（ハイフンなし）</td>
      <td><%= f.text_field :postal_code, autofocus: true %></td>
     </tr>

     <tr>
      <td>住所</td>
      <td><%= f.text_field :address, style:"width:300%", autofocus: true %></td>
     </tr>

     <tr>
      <td>宛名</td>
      <td><%= f.text_field :name, autofocus: true %></td>
      <td><%= f.submit "変更内容を保存", class: 'btn btn-success' %></td>
     </tr>

     </table>
     <% end %>
    </div>
   </div>
  </div>
 </div>