<div class= 'container'>
 <div class= 'row'>
  <div class='col px-5 py-5'>

   <h4 class='mx-5'>配送先登録／一覧</h4>

   <%= form_with model: @address, url: addresses_path, local:true do |f| %>

     <table class='new_form my-5'>
     <div class="form-group">
       <div class="row">
        <div class="col-md-3">郵便番号（ハイフンなし）</div>
        <%= f.text_field :postal_code, class: "col-md-6 form-control" %>
       </div>
     </div>


　   <div class="form-group">
       <div class="row">
        <div class="col-md-3">住所</div>
        <%= f.text_field :address, class: "col-md-6 form-control" %>
       </div>
     </div>

      <div class="form-group">
       <div class="row">
        <div class="col-md-3">宛名</div>
        <%= f.text_field :name, class: "col-md-6 form-control" %>
       </div>
     </div>



     <%= f.submit "新規登録", class: "btn btn-success" %>

     </table>
     <% end %>
    </div>
  </div>

  <div class='row'>
    <div class='col-md-10 px-5'>
     <table class='table table-bordered'>
      <thead class='thead thead-light'>

       <tr>
       <th>郵便番号</th>
       <th>住所</th>
       <th>宛名</th>
       <th></th>
       </tr>

      </thead>

 <tbody>
 <% @addresses.each do |address| %>
 <tr>
  <th><%= address.postal_code %></th>
  <th><%= address.address %></th>
  <th><%= address.name %></th>
  <th>
    <%= link_to "編集する", edit_address_path(address.id), class: "btn btn-sm btn-success" %>
    <%= link_to "削除する", address_path(address.id), method: :delete, class: "btn btn-sm btn-danger" %>
  </th>
 </tr>
 <% end %>
  </tbody>
      </table>
    </div>
  </div>
</div>
