<div class="container">
  <div class="row">
  　<div class="col-md-12 mx-auto" style="height: 50px;"></div>
  </div>
  <div class="row">
    <div class="col-md-4">
      <%= attachment_image_tag @item, :image , :fill, 100, 100, format: 'jpeg' %>
    </div>
    <div class="col-md-8">
     <h3><%= @item.name %></h3>
     <p><%= @item.introduction %></p>
     <p><%= @item.with_tax_price %><span>(税込)</span></p>
     <%= form_with model: @cart_item, url: cart_items_path, method: :post, local: true do |f| %>
     <%= f.hidden_field :item_id,value: @item.id %>
     <%= f.select :amount, *[1..9], include_blank: "個数選択" %>
     <%= f.submit "カートに入れる"%>
     <% end %>
    </div>
  </div>
</div>