<div>
  <%= attachment_image_tag @item, :image , :fill, 100, 100, format: 'jpeg' %>
  <p>商品名：<%= @item.name %></p>
  <p>商品説明：<%= @item.introduction %></p>
  <p>税抜価格：<%= @item.price %></p>
</div>

<%= form_with model: @cart_item do |f| %>
<%= f.select :amount, [["1", "1"], ["2", "2"], ["3", "3"],["4", "4"], ["5", "5"]], include_blank: "個数選択" %>
<%= f.submit "カートに入れる"%>
<% end %>